#root,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--color-brown);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 500; */
}

.scrollBody {
  width: 100vw;
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
}